<% guidance = local_assigns[:guidance] || 'Your entry' %>
<%= form_for @new_entry, html: { class: "new-entry" } do |f| %>
  <% if @new_entry.errors.any? %>
    <% @new_entry.errors.full_messages.each do |msg| %>
      <div><%= "Error: #{msg} " %></div>
    <% end %>
  <% end %>

  <%= f.hidden_field :parent_type %>
  <%= f.hidden_field :parent_id %>

  <% if @new_entry.parent.new_record? %>
    <%= f.fields_for :parent do |sf| %>
      <p>
        <%= sf.label :title, "Title (optional)" %>
        <%= sf.text_field :title, autofocus: @new_entry.parent.new_record? %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :text, guidance, class: "guidance" %>
    <%= f.text_area :text, autofocus: @new_entry.parent.persisted? %>
  </p>

  <p class="submit-entry">
    <%= f.submit 'Submit', class: "submit-entry-button" %>
  </p>
<% end %>
