<%= form_for @new_entry, html: { class: "new-entry" } do |f| %>
  <% if @new_entry.errors.any? %>
    <% @new_entry.errors.full_messages.each do |msg| %>
      <div><%= "Error: #{msg} " %></div>
    <% end %>
  <% end %>

  <%= f.hidden_field :parent_type %>
  <%= f.hidden_field :parent_id %>

  <p>
    <%= f.label :text, class: "caption" %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit 'Submit', class: "submit-entry" %>
  </p>
<% end %>
