<% delete_mode ||= false %>

<div class="story-text">
  <% @entries.each do |e| %>
    <span class="entry <%= 'yours' if e.user == current_user %>">
      <%= link_to_if delete_mode, e.text, entry_path(e), method: :delete %>
    </span>
<% end %>
</div>

<hr class="faded">

<div class="wat">
  <% if @story.contributed?(current_user) %>
    <p>
      The preceding was a story you participated in on
      <%= entry_date(@story.contribution_from(current_user)) %>.
      <% if @entries.map(&:user).include?(current_user) %>
        The sentence in bold is yours.
      <% else %>
        This particular path didn't include your sentence;
        <%= link_to "click here", @story.contribution_from(current_user) %>
        to see a path that includes yours.
      <% end %>
    </p>
    <% unless @story.closed? %>
      <p>
        This story is still open for contributions. Share this page
        with your friends and they'll have a chance to contribute their
        own sentence!
      </p>
    <% end %>
    <% if @story.can_be_edited?(current_user) %>
      <p>
        <% if @story.closed? %>
          This story has been closed by an admin or the story's creator.
          <%= link_to "Click here", story_toggle_status_path(@story) %> to open it.
        <% else %>
          As an admin or the creator of this story, you may
          <%= link_to "close it", story_toggle_status_path(@story) %>
          to end contributions.
        <% end %>
        <% if delete_mode %>
          You are currently in DELETE MODE.
          <%= link_to "Click here", entry_path(@entries.last) %> to exit it.
        <% else %>
          You have permission to delete entries from this story if necessary.
          <%= link_to "Click here", entry_path(@entries.last, params: {delete: true}) %>
          to switch to DELETE MODE.
        <% end %>
      </p>
    <% end %>
  <% else %>
    The preceding was a story written by Narratron community members
    <% if @entries.first.created_at.to_date == @entries.last.created_at.to_date %>
      on <%= entry_date(@entries.first) %>
    <% else %>
      between <%= entry_date(@entries.first) %>
      and <%= entry_date(@entries.last) %>
    <% end %>
    <% unless current_user %>
      <div class="call-to-login">
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "log in", log_in_path %> 
        to contribute to a story today!
      </div>
    <% end %>
  <% end %>
</div>

<hr class="faded">

<div class="story-credits">
  <p>
  <% if @story.thanks.present? %>
    <% @entries.shift %>
    Story prompt by <%= @story.thanks %>.
  <% end %>
  <% unless @entries.empty? %>
    Sentences in this story path were contributed by
    <%= @entries.map { |e| attribution_text(e) }.to_sentence %>.
  <% end %>
  </p>
</div>
