<h2>
  <%= @user.display_name %>
</h2>

<p class="actions">
  <%= link_to "Edit Info", edit_user_path(@user) %>
</p>

<% if @contributions.present? %>
  <h3>
    Contributions
    <span class="contribution-count">
      <%= @user.entries.size %>
    </span>
  </h3>

  <div id="contributed-stories">
    <% @contributions.each do |e| %>
      <blockquote class="user-profile-entry">
        <p><%= e.text %></p>
      </blockquote>

      <div class="story-link">
        <%= link_to "View Story", entry_path(e) %>
      </div>

    <% end %>
  </div>

  <%= will_paginate @contributions, page_links: false %>
<% else %>
  <p>
    <strong>You haven&rsquo;t contributed to any stories yet.</strong>
    You should join <%= link_to "today&rsquo;s public story".html_safe, today_path %>!
  </p>
<% end %>
