
<%= form_for @submission, html: { class: "new-submission" } do |f| %>
  <% if @submission.errors.any? %>
    <% @submission.errors.full_messages.each do |msg| %>
      <div><%= "Error: #{msg} " %></div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title, "Title (optional)", class: "guidance" %>
    <%= f.text_field :title, autofocus: true %>
  </p>

  <p>
    <%= f.label :text, "Story prompt", class: "guidance" %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :author, "Author credit", class: "guidance" %>
    <%= f.text_field :author %>

  <p class="submit-submission">
    <%= f.submit 'Submit', class: "submit-submission-button" %>
  </p>
<% end %>
