<h2>Public Stories</h2>

<% @public_days.each do |day| %>
  <h3>
    <%= day.date.strftime("%A %e %B %Y") %>
    <%= "(In Progress!)" unless day.story.closed? %>
    <% if current_user && current_user.is_admin? %>
      <span class="admin">
        <%= "wrapping... " if day.story.wrapping? %>
        <%= link_to day.story.closed? ? "open" : "close",
              story_toggle_status_path(day.story), method: "POST" %>
      </span>
    <% end %>
  </h3>
  <% if can_show_results(day.story) %>
    <ul>
    <% day.story.leaves.each do |leaf| %>
      <li>
      <%= link_to "Ending by #{leaf.user == current_user ? 'you' : leaf.user.display_name}", leaf %>
      <%= "written #{time_ago_in_words(leaf.created_at)} ago" unless day.story.closed? %>
      <%= branch_contains_contribution_flag(leaf) %>
    <% end %>
    </ul>
  <% else %>
    <p class="open-story-call-to-action">
      You haven't participated in this active story yet.
      What are you waiting for?
      <%= link_to "Add a sentence now!", day.story.leaves.sample %>
    </p>
  <% end %>

<% end %>

<%= will_paginate @public_days, page_links: false %>

