<!DOCTYPE html>
<html>
<head>
  <title>Narratron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=500, user-scalable=no">
</head>
<body id="<%= controller_slug %>">

<div id="banner">
  <p id="title"><%= link_to "Narratron", root_path %></p>
  <ul class="nav">
    <li><%= link_to "Today", today_path %>
    <li><%= link_to "Submit Story", new_submission_path %>
    <% if current_user && (current_user.admin? || current_user.story_creator?) %>
      <li><%= link_to "New Story", new_entry_path %>
    <% end %>
    <li><%= link_to "Archives", archive_path %>
  </ul>
  <% if current_user && current_user.admin? %>
    <ul class="nav admin-nav">
      <li><%= link_to "Queued Stories", queue_path %>
      <li><%= link_to "User Submissions", submissions_path %>
    </ul>
  <% end %>
  <p id="tag">Spin up a story.</p>
</div>

<div id="notifications">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<div id="content">
  <%= yield %>
</div>

<hr class="faded" />

<div id="footer">
  <ul class="nav">
    <li><%= link_to "About", about_path %>
    <% if current_user %>
      <li><%= link_to "Your profile", user_path(current_user) %>
      <li><%= link_to "Log Out", log_out_path %>
    <% else %>
      <li><%= link_to "Log In", log_in_path %>
    <% end %>
  </ul>
</div>

</body>
</html>
