<!DOCTYPE html>
<html>
<head>
  <title>Narratron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=500, user-scalable=no">
</head>
<body id="<%= controller_slug %>">

<div id="banner">
  <p id="title"><%= link_to "Narratron", root_path %></p>
  <ul id="nav">
    <li><%= link_to "Today", today_path %>
    <% if current_user && current_user.is_story_creator? %>
      <li><%= link_to "New Story", new_entry_path %>
    <% end %>
    <li><%= link_to "Archives", archive_path %>
  </ul>
  <p id="tag">Spin up a story.</p>
</div>

<div id="notifications">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  <span id="credits">
    A <a href="http://twitter.com/ckolderup">@ckolderup</a> thing.
  </span>
  <% if current_user %>
    <span id="user-status">
      You are <%= current_user.display_name && current_user.display_name.strip.present? ? current_user.display_name : current_user.email %>.
    </span>
    <span id="user-actions">
      <% if controller_slug == 'users-show' and @user and @user == current_user %>
        This is your profile; you can
      <% else %>
        <%= link_to "View your profile", user_path(current_user) %> or
      <% end %>
      <%= link_to "log out", log_out_path %>.
    </span>
  <% else %>
    <span id="user-actions">
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>.
    </span>
  <% end %>
</div>

</body>
</html>
